BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0

BreakBeforeBraces: Allman

PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

BinPackParameters: false
BinPackArguments: false

BreakConstructorInitializers: BeforeComma
AllowAllConstructorInitializersOnNextLine: true

SortIncludes: true

IncludeCategories:
  - Regex: '^<glad/'
    Priority: 1
  - Regex: '^<GLFW/'
    Priority: 2
  - Regex: '^<glm/'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 4
